*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration:none;
    scroll-behavior: smooth;
}

:root{

    --bg-color:#020312;
    --text-color:#fff;
    --main-color:#eb4a4a;
    --second-color:gray;
    --other-color:#12141c;
    --h1-font:5.2rem;
    --h2-font:3.5rem;
    --p-font:1.1rem;


}

h1{
    color: #eb4a4a;
}

.logo>img{
    width:30%;
    height: 10%;
    /* height: auto; */
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
   position: fixed;
   right: 0;
   top: 0;
   width:100%;
   z-index: 1000;
   display: flex;
   align-items: center;
   /* justify-content: space-between;  */
   justify-content:end;
   background: transparent;
   padding: 22px 16px;
 
   border-bottom: 1px solid transparent;
   transition: all .40s ease;
}

.navbar{
    display: flex;
    list-style-type:none;
}

.navbar a{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    padding: 10px 25px ;
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all .40s ease;
  
}

.navbar a:hover{
    background: var(--main-color);
    color: var(--text-color);
}

#menu-icon{
    font-size: 36px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}


section{
    padding: 160px 16% 90px;

}

.home{
    height: 100vh;
    width: 100%;
    position: relative;
    margin-bottom: -22%;
    /* background: url(img/my1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; */
}

.home-text h1{
    margin: 20px 0;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 2px;
}

span{
    color: var(--main-color);
}

.home-text h4{

    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
}

.home-text h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.btn{
display: inline-block;
padding: 14px 40px;
border-radius: 0.5rem;
font-size: 17px;
font-weight: 500;
background: var(--main-color);
color: var(--text-color);
border: 1px solid var(--main-color);
transition: all .40s ease;

}

.btn:hover{
    transform: scale(1.01) translate(-5px);
    background: transparent;
    border:1px solid var(--main-color);
}








header.sticky{
    padding: 10px 16%;
    background: var(--bg-color);
    border-bottom: 1px solid #0e1630;
    /* transition: .3s; */
}


.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 10%;
}



.about-text h4{
    margin: 10px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight:600;

}

.about-text h2{
    font-size: var(--h2-font);

}

.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}

.about-gri{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.about-in h5{
font-size: 22px;
font-weight: 600;
}

/* .about-img{
    height: auto;
    width: 10px; 
     max-width: 4px; 
} */

.about-img>img{
    height: auto;
    width: 70%; 
    border-radius: 10% 0;
    
}

/* #text-color{
    color: var(--text-color);
}
.home-text h3{
    color: var(--main-color);

} */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



.tab-titles{

    display: flex;
    margin: 20px 0 40px;

}

.tab-links{

    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-links ::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
   
}

.tab-links.active-link ::after{

 width: 50%;

 }

 .tab-contents ul li{

   list-style: none;
   margin: 10px 0;
   

 }

 .tab-contents ul li span {
    color:var(--main-color);
    font-size: 16px;
 }

 .tab-contents{
    display: none;
    margin-top: -10%;
 }

 .tab-contents.active-tab{
    display: block;
 }


 .tab-links:hover{
    transform: scale(1.01) translateY(-5px);
    transition: all .40s ease;
    color: var(--main-color);
}





/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */



/* -----------------
----------------- */

.main-text{
    text-align: center;
}

.main-text h2{
    font-size: var(--h2-font);
    margin-bottom: 10px;
}
.main-text h4{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
}

.service-content{
   
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(150px,auto));
   align-items: center;
   text-align: center;
   gap: 2rem;
   margin-top: 5rem;
}

.box img{
    width: 20%;
}




.box{
    /* padding: 45px; */
    padding-top: 4%;

    width: 90%;
    height: 120px;

    background: #12141c;
    /* border-radius: 5rem; */
    border-top: 5px solid transparent;
    transition: all .40s ease;
    cursor: pointer;
}

.box h3{
    font-size: 24px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .40s ease;
}

.box p{

color: var(--second-color);
font-size: var(--p-font);
line-height: 30px;

}

.box:hover{

   transform: scale(1.01) translateY(-5px);
   border-top: 5px solid var(--main-color); 
}

.box :hover h3{
    color: var(--main-color);
}

/* -------services2-------------- */
.service-content2{
   
    display: block;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
   
    /* margin: auto; */
 }
 
 .box2 img{
     width: 5%;
 }
 
 
 
 
 .box2{
     padding: 2% 45px;
    
 
     width: auto;
     height: auto;
   
     margin-bottom: 20px;
 
     background: #12141c;
    
     border-top: 5px solid transparent;
     transition: all .40s ease;
     cursor: pointer;
 }
 
 .box2 h3{
     font-size: 16px;
     font-weight: 600;
     margin: 10px 0;
     transition: all .40s ease;
 }
 
 .box2 p{
 
 color: var(--second-color);
 font-size: 15px;
 line-height: 25px;
 
 }
 
 .box2:hover{
 
    transform: scale(1.01) translateY(-5px);
    border-top: 5px solid var(--main-color); 
 }
 
 .box2 :hover h3{
     color: var(--main-color);
 }
/* ------------------- */



/* portfolio --------------------------------------------*/

.portfolio-content{
    display: grid;
   grid-template-columns: repeat(auto-fit,minmax(400px,auto));
 /* grid-template-columns: repeat(3,20px); */
  
   align-items: center;
   /* text-align: center; */
   gap: 2rem;
   margin-top: 5rem;
}

.row img{
    height: auto;
    width: 100%;
    border-radius: 0.5 rem;
    margin-bottom: 1.5rem;
}

.row{
    padding: 25px;
    background: #12141c;
    border-radius: 0.5rem;
    transition: all .40s ease;
}

.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.row h3{
    font-size: 25px;
    font-weight: 700;

}

.row h6{
    color: var(--main-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;

}

.row-icon i{
font-size: 21px;
}

.row:hover{

    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
 }

.row-btn{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.project-details p{

    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-top: 5%;
    
    }


/* -------stats-style---------- */

 #stats{
   

}
#stats .all-items{
  

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

#stats .all-items .item{
    padding: 2rem;

    
}

#stats .number{
   
    font-size: var(--h2-font);
    color: var(--second-color);
}

#stats .stats-sub-heading{

    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--second-color);
}

#stats .all-items .item>p{
    color: var(--second-color);
    font-size: 17px;
   
}

#stats .all-items .item{

    background: #12141c;
    
    border-top: 5px solid transparent;
    transition: all .40s ease;
    cursor: pointer;

} 

.calendar{
    width: 100%;
  
}



#git-stat{
    margin-top: -10%;
}

#git_streak{
    display: flex;
    width: 100%;
    margin-top: 3%;
}
#git_streak img{
    margin: auto;
   width: auto;
}




#git-text>h4{
  
    margin-bottom: 1rem;
    color:var(--main-color);
}

/* ---------contact-------- */
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
}
.contact-text h4{
    margin:15px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2{

    font-size: var(--h2-font);
}
.contact-text p{


    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;

}

.contact-list{
    margin-bottom: 3rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list li a{
    display: block;
    color: var(--second-color);
    font-weight: 600;
    transition: all .40s ease;
}


.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--main-color);
}

.contact-icons i{
    height: 40px;
    width: 40px;
    background: #12141c;
    border-radius: 0.5rem;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
}

.contact-icons i:hover{
    transform: scale(1.01) translateY(-5px);
    color: var(--text-color);
    background: var(--main-color);
}



.last-text{
    text-align: center;
    padding: 15px;
    color: var(--second-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

.top{
    position: fixed;
    bottom: 2.1rem;
    right:2.1rem;
}

.top i{
color: var(--text-color);
background: var(--main-color);
font-size: 20px;
padding: 10px;
border-radius: 00.5rem;
}





/* ========================media ======================================= */

@media (max-width:1325px){

    header{
        padding: 16px 3%;
    }
    header.sticky{
        padding: 8px 3%;
    }

    section{
        padding: 130px 3% 60px;
    }

   .box2{
    height: auto;
    padding: 2%;
   }

   .box2>img{
    width: 4%;

   }

   #git_streak img{
     width: auto;
   }


}

@media (max-width:970px){
:root{
    --h1-font:4.2rem;
    --h2-font:2.9rem;
    --p-font:1rem;

}

section{
    padding: 70px 3% 60px;
}
.home{
    height: 85vh;
}
.about{
    grid-template-columns: 1fr;
}
.about-img{
    text-align: center;
}
.contact{
    grid-template-columns: 1fr;
}

.box2{
    height: auto;
    padding: 2%;
   }

   .box2>img{
    width: 4%;

   }

   #git_streak img{
    width: 60%;
   }
}

 @media (max-width:830px){

    /* #stats .all-items{

        grid-template-rows: repeat(3,1fr);
       
    } */
#menu-icon{
    display: block;
}
 .navbar{
    position: absolute;
    top: -600px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #12141c;
    text-align: left;
    transition: all .40s ease;
}

.navbar a{

    display: block;
    padding: .6rem;
    margin: .4rem;
} 

.navbar.active{
    top: 100%;


} 

:root{
    --h1-font:3.7rem;
    --h2-font:2.7rem;
   

}

.box2{
    height: auto;
    padding: 3%;
   }

   .box2>img{
    width: 10%;

   }


   #git_streak img{
    width: 100%;
   }
} 


